<!DOCTYPE HTML>
<HTML>
  <HEAD>
    <META charset="utf-8" />
    <link res="stylesheet" href="/css/index.css">
  </HEAD>
  <BODY>
    <h1>Scrapped Quotes</h1>
    <h3>{{one.author}}</h3>
    <div>"{{one.quote}}"</div><br>
    <h3>{{two.author}}</h3>
    <div>"{{two.quote}}"</div><br>
    <h3>{{three.author}}</h3>
    <div>"{{three.quote}}"</div><br>
    <h3>{{four.author}}</h3>
    <div>"{{four.quote}}"</div><br>
    <h3>{{five.author}}</h3>
    <div>"{{five.quote}}"</div>
  </BODY>
</HTML>
